        

       
     
    </div>


<!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/lib/front_end/member/wow/wow.min.js}"></script>
    <script th:src="@{/lib/front_end/member/easing/easing.min.js}"></script>
    <script th:src="@{/lib/front_end/member/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/front_end/member/counterup/counterup.min.js}"></script>
    <script th:src="@{/lib/front_end/member/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{/lib/front_end/member/tempusdominus/js/moment.min.js}"></script>
    <script th:src="@{/lib/front_end/member/tempusdominus/js/moment-timezone.min.js}"></script>
    <script th:src="@{/lib/front_end/member/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script th:src="@{/js/front_end/member/main.js}"></script>

    <!-- Kit Icon -->
    <script src="https://kit.fontawesome.com/8366d3754a.js" crossorigin="anonymous"></script>

	</script>
		
		
		
		<!-- JavaScript part -->
		
		<script type="text/javascript">
		
		//清除提示信息
		function hideContent(d) {
		     document.getElementById(d).style.display = "none";
		}
		
		//照片上傳-預覽用
		var filereader_support = typeof FileReader != 'undefined';
		if (!filereader_support) {
			alert("No FileReader support");
		}
		acceptedTypes = {
				'image/png' : true,
				'image/jpeg' : true,
				'image/gif' : true
		};
		
		function previewImage() {
			var upfile1 = document.getElementById("memberPic");
			upfile1.addEventListener("change", function(event) {
				var files = event.target.files || event.dataTransfer.files;
				for (var i = 0; i < files.length; i++) {
					previewfile(files[i])
				}
			}, false);
		}
		
		function previewfile(file) {
			if (filereader_support === true && acceptedTypes[file.type] === true) {
				var reader = new FileReader();
				reader.onload = function(event) {
					var image = new Image();
					image.src = event.target.result;
					image.width = 100;
					image.height = 75;
					image.border = 2;
					if (blob_holder.hasChildNodes()) {
						blob_holder.removeChild(blob_holder.childNodes[0]);
					}
					blob_holder.appendChild(image);
				};
				reader.readAsDataURL(file);
				document.getElementById('signup').disabled = false;
			} else {
				blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
						+ "<br>" + "● ContentTyp: " + file.type
						+ "<br>" + "● size: " + file.size + "bytes"
						+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
				document.getElementById('signup').disabled = true;
			}
		}
		
		</script>
		
		
		
		
		
		<script>
		
//WebSocket

 		var memNo = $(".memNo").val();
		var myEndPoint = "/NotificationAlert";
		var host = window.location.host;
		var path = window.location.pathname;
		var webCtx = path.substring(0, path.indexOf('/', 1));
		var endPointURL = "ws://" + window.location.host + myEndPoint + "/" + memNo;
		
		var ws ;
		
		$(document).ready(function() {
			
			//創建Websocket實體
			
			ws = new WebSocket(endPointURL);
			
			ws.onopen = function(){
				console.log("websocket建立成功")
			}
			
			//收到資料，更改通知提示數字
			ws.onmessage = function(e){
				var countArea = $("span.red_circle")
				var unReadCount = JSON.parse(e.data)
				console.log(unReadCount);
				
				
				if( unReadCount === "0"  ){
		 			countArea.addClass("-none");
		 		}else{
		 			countArea.removeClass("-none");
		 		}
				
				countArea.text(unReadCount);
			}
				
		});

		
//通知提醒彈出燈箱

		var noti;
		var noti_status;
		var noti_status_val
		
		$("div.noti").on("click", function() {
			// 		console.log(this);
			$(this).next().next().next("div.lightbox").fadeIn(800);
			
			noti = $(this).next("input.notiId").val();
			console.log(noti);
			
			noti_status = $(this).next().next("input.notiStatus");
			noti_status_val = noti_status.val();
			console.log(noti_status_val);
			
// 			changeNotiStatus();

		});

		$(".lightbox").on("click", function() {
			$(".lightbox").fadeOut(800);
		});

		$(".lightbox > article").on("click", function(e) {
			e.stopPropagation();
		});
		
		
		
		
		
		
//WebSocket傳遞訊息至後台

 		function changeNotiStatus(){
			var jsonObj = {
				"action" : "change",
				"notificationId" : noti,
				"memberId" : memNo
			};
			ws.send(JSON.stringify(jsonObj));
		}

		
		
//處理通知出現消失

 		if( $("span.red_circle").text() === "0"  ){
 			$("span.red_circle").addClass("-none");
 		}else{
 			$("span.red_circle").removeClass("-none");
 		}
 		
 		
//處理訊息未讀與已讀之區別		
			var block = $("div.noti");
			var status_block = $("input.status");
			console.log(status_block);
			
			
				
			block.addClass("-on");
		
		</script>
		
</body>





</html>