<div th:replace="~{/back_end/include/include_top}"></div>

<style>
	.unique{
		text-align:center;
	}
	
 	.display{ 
		font-size:15px;
 		table-layout: fixed; 
		word-break: break-all; 
		word-wrap: break-word; 
 		width:100%; 
/*  		height:70%;  */
		
 	} 
	
 	.display td,th{ 
 		border: 1px solid black; 
 	} 
	
 	.display thead{ 
 		background-color:lightcyan 
 	} 

 	.display tbody{ 
 		background-color:ivory; 
 	} 
 	.display img{
 		width:100%;
 		height:100%;
 	}
</style>

</head>






<body>

<div th:replace="~{/back_end/include/include_body}"></div>

	
<!-- =========================================================================================== -->


<!-- 前端sweet alert錯誤判斷用 -->
<input type="hidden" id="status" th:value="${status}">


		<!-- 主欄位 -->
		<div class="unique">
			<h3>---搜尋的通知資料結果---</h3>
			<br>
		
			<br>

			<table  id="xxx" class="display">
				
				<thead>
					<tr>
						<th>通知編號</th>
						<th>會員編號</th>
						<th>會員姓名</th>
						<th>通知種類</th>
						<th>通知狀態</th>
						<th>通知標題</th>
						<th>通知內容</th>
						<th>通知時間</th>
					</tr>
				</thead>

				<tbody>
					<th:block th:each="notificationVO : ${notiList}">
						<tr>
					
							<td th:text="${notificationVO.notiId}"></td>
							<td th:text="${notificationVO.member.memberId}"></td>
							<td th:text="${notificationVO.member.memberName}"></td>
							
							
							<td th:if="${notificationVO.type} eq 0"></th:if>房務</td>
							<td th:if="${notificationVO.type} eq 1"></th:if>活動</td>
							<td th:if="${notificationVO.type} eq 2"></th:if>商品</td>
							
							<td th:if="${notificationVO.status} eq 0"></th:if>未讀</td>
							<td th:if="${notificationVO.status} eq 1"></th:if>已讀</td>
							
							
							<td th:text="${notificationVO.title}"></td>
							<td th:text="${notificationVO.content}"></td>
							<td th:text="${notificationVO.time}"></td>

						</tr>
					</th:block>
				</tbody>
				
			</table>

		</div>
	</div>
	
	


	<div th:replace="~{/back_end/include/include_bottom}"></div>
	
	
	<!-- ●● jquery datatables 設定 -->
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>                                    <!-- ●●js  for jquery datatables 用 -->
	<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>              <!-- ●●js  for jquery datatables 用 -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
	
	<script>
		$(document).ready(function() {
			$('#xxx').DataTable({
				"lengthMenu": [5, 10, 15, 20],
				"searching": true,  //搜尋功能, 預設是開啟
			    "paging": true,     //分頁功能, 預設是開啟
			    "ordering": true,   //排序功能, 預設是開啟
			    "language": {
			        "processing": "處理中...",
			        "loadingRecords": "載入中...",
			        "lengthMenu": "顯示 _MENU_ 筆結果",
			        "zeroRecords": "沒有符合的結果",
			        "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
			        "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
			        "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
			        "infoPostFix": "",
			        "search": "搜尋:",
			        "paginate": {
			            "first": "第一頁",
			            "previous": "上一頁",
			            "next": "下一頁",
			            "last": "最後一頁"
			        },
			        "aria": {
			            "sortAscending":  ": 升冪排列",
			            "sortDescending": ": 降冪排列"
			        }
			    }
			});
		});
	</script>
	

	<!-- 前端sweet alert錯誤判斷用 -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="alert/dist/sweetalert.css">
	<script>
	
	var status = $("#status").val();
	
	if (status == "success"){
		swal("完成","通知已成功發送!","success")
		status == "";
	}
	
	</script>

