<div th:replace="~{/back_end/include/include_top}"></div>

<style>

</style>
</head>
<body>

<div th:replace="~{/back_end/include/include_body}"></div>

	
		<!-- =========================================================================================== -->


		<!-- 主欄位 -->
		<div class="unique">
		
			<h3>---會員資料搜尋---</h3>
			<br>		
			<br>	

			<form method="post" th:action="@{/member/findByName}">
						輸入會員名稱:
						<input type="text" name="memberName" th:value="${param.memberName}" > 
						<input type="submit" value="送出">
			</form>
			<br>
	
		</div>
		
<div th:replace="~{/back_end/include/include_bottom}"></div>
