

<div th:replace="~{/front_end/member/include/include_top}"></div>


<style>
.left_item {
	text-align: center;
}

.unique {
	text-align: center;
}

.display {
	font-size: 15px;
	table-layout: fixed;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
	/*  		height:70%;  */
}

.display td, th {
	border: 1px solid black;
}

.display thead {
	background-color: lightcyan
}

.display tbody {
	background-color: ivory;
}

.lightbox {
	/*   border: 1px solid red; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: hsla(0, 0%, 0%, .5);
	display: none;
}

/* 元素 article 置中及基本樣式 */
.lightbox>article {
	background-color: white;
	width: 90%;
	max-width: 800px;
	border-radius: 10px;
	box-shadow: 0 0 10px #ddd;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


</style>

</head>


<body>

	<div th:replace="~{/front_end/member/include/include_body}"></div>



	<!-- 主欄位 -->
	<div class="unique">

		<h3>---重要通知---</h3>


		<th:block th:each="notiVO : ${memberVO.notificationVO}">

			<div class="noti">
				
				<p>
					通知種類: 
					<span th:if="${notiVO.type} eq 0">房務</span> 
					<span th:if="${notiVO.type} eq 1">活動</span> 
					<span th:if="${notiVO.type} eq 2">商品</span>
				</p>
				<p>
					通知標題:<span th:text="${notiVO.title}"></span>
				</p>
				<p>
					通知時間:<span th:text="${notiVO.time}"></span>
				</p>
			</div>
			
			 <input class="notiId" type="hidden"  th:value="${notiVO.notiId}" >
			 <input class="notiStatus" type="hidden"  th:value="${notiVO.status}" >
			

			<div class="lightbox">
				<article>
					<p>
						通知種類: 
						<span th:if="${notiVO.type} eq 0">房務</span> 
						<span th:if="${notiVO.type} eq 1">活動</span> 
						<span th:if="${notiVO.type} eq 2">商品</span>
					</p>
					<p>
						通知標題:<span th:text="${notiVO.title}"></span>
					</p>
					<p>
						通知時間:<span th:text="${notiVO.time}"></span>
					</p>
					<p>
						通知內容:<span th:text="${notiVO.content}"></span>
					</p>
				</article>
			</div>


			<br>
			<br>
		</th:block>

	</div>
	
<div th:replace="~{/front_end/member/include/include_bottom}"></div>