<!DOCTYPE html>

<html   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta>
<title>確認驗證碼</title>

<!-- Font Icon -->
<link rel="stylesheet" th:href="@{/fonts/front_end/member/icon/css/material-design-iconic-font.min.css}">

<!-- Main css -->
<link rel="stylesheet" th:href="@{/css/front_end/member/member.css}">

<style>
    
</style>

</head>


<body>

<input type="hidden" id="status" th:value="${status}">


	<div class="main">

		<!-- Sing in  Form -->
		<section class="sign-in">
			<div class="container">
				<div class="signin-content">
					
					
					
					<div class="forget-form">
						<h2 class="form-title">驗證碼確認</h2>
						
						
						
						<form method="post" th:action="@{/member/forgetTokenConfirm}" class="register-form" id="login-form">
							
							<div class="form-group">
								<label for="token"><i class="zmdi zmdi-star"></i></label> 
								<input required type="text" placeholder="請輸入驗證碼..." id="token" name="token"><br>
														
							</div>
							

							<div class="form-group form-button">
								<input type="submit" name="signin" id="signin" class="form-submit" value="進行驗證" />
							</div>
						</form>
						
						
						
					</div>
					
					<div class="forget-image">
						<figure>
							<img th:src="@{/img/front_end/member/icons/cactus8.png}" alt="sing up image">
						</figure>
						<br>
						<a th:href="@{/member/memberLogin}" class="signup-image-link">返回登入畫面</a>
						
					
					</div>
					
					</div>
					
				
						
					
				</div>
			</div>
		</section>

	</div>

	<!-- JS -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="alert/dist/sweetalert.css"/>
	
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="@{/js/front_end/member/memberLogin.js}"></script>
	
	
	
	<script>

		var status = $("#status").val();
		
		
		if(status == "success"){
			swal("成功","驗證碼已發送至您的信箱!,請確認有無收取到!","success");
			status = "";
		}else if (status == "failed"){
			swal("錯誤","驗證碼輸入錯誤，請確認!","error");
			status = ""; 
		}else if (status == "timeout"){
			swal("錯誤","驗證碼已逾期，請重新嘗試寄送驗證信!","warning");
			status = ""; 
		}
		
		
		
		
	</script>
	
	
</body>
</html>