<div th:replace="~{/front_end/member/include/include_top}"></div>

  	<style>
  		.left_item{
			text-align:center;
  		}
  		
  		.unique h2{
  			margin-left:30px;
  			margin-bottom:30px;
 
  		}
  		
  		.unique ul{
  			list-style:none;
  			margin:20px;
  		}
  		
  		.unique ul li{
  			font-size:20px;
  			margin:20px;
  		}
  		
  		.unique span , img{
  			margin-left:10px;
  		}
  		
  		
  	
  	</style>
</head>






<body>
<div th:replace="~{/front_end/member/include/include_body}"></div>

        
        <!-- 主欄位 -->
	    <div class="unique">
	    
	    <h2>會員資料顯示:</h2>
	    	<ul>
	    		<li>會員編號:<span th:text="${memberVO.memberId}"></span></li>
	    		<li>會員信箱:<span th:text="${memberVO.email}"></span></li>
	    		<li>會員姓名:<span th:text="${memberVO.memberName}"></span></li>
	    		<li>會員密碼:<span th:text="${memberVO.password}"></span></li>
	    		<li>會員生日:<span th:text="${memberVO.birthday}"></span></li>
	    		
	    		<li>會員性別:
	    			<span th:if="${memberVO.gender} eq 0"></th:if>男</span>
					<span th:if="${memberVO.gender} eq 1"></th:if>女</span>
					<span th:if="${memberVO.gender} eq 2"></th:if>其他</span>
				</li>
	    		
	    		
	    		<li>會員電話:<span th:text="${memberVO.phone}"></span></li>
	    		<li>會員地址:<span th:text="${memberVO.address}"></span></li>
	    		<li>會員圖片:<img th:src="@{/member/ShowPic} + '?memberId=' + ${memberVO.memberId}" width="100px"></li>	    		
	    	</ul>
        </div>
        
<div th:replace="~{/front_end/member/include/include_bottom}"></div>

       
     
 