<div th:replace="~{/front_end/member/include/include_top}"></div>

  	<style>
  		.left_item{
			text-align:center;
  		}
  		
  		.unique span{
  			font-size:40px;
  			margin-left:15px;
  		}
  		
  		.unique p{
  			font-size:20px;
  			margin-left:15px;
  			margin-top:20px;
  		}
  		
  		
  	
  	</style>
</head>






<body>

   <div th:replace="~{/front_end/member/include/include_body}"></div>

<!-- =========================================================================================== -->
 
        
        <!-- 主欄位 -->
	    <div class="unique">
			<span>歡迎您!親愛的</span><span th:text="${memberVO.memberName}"></span>
			<span th:if="${memberVO.gender} eq 0"></th:if>先生!</span>
			<span th:if="${memberVO.gender} eq 1"></th:if>小姐!</span>
			<span th:if="${memberVO.gender} eq 2"></th:if>!</span>
			<p>請點選左側選項使用您所需要的功能~</p>
	          	
	
        </div>
 <div th:replace="~{/front_end/member/include/include_bottom}"></div>
        
