

	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script th:src="@{/lib/back_end/wow/wow.min.js}"/></script>
	<script th:src="@{/lib/back_end/easing/easing.min.js}"/></script>
	<script th:src="@{/lib/back_end/waypoints/waypoints.min.js}"/></script>
	<script th:src="@{/lib/back_end/counterup/counterup.min.js}"/></script>
	<script th:src="@{/lib/back_end/owlcarousel/owl.carousel.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/moment.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/moment-timezone.min.js}"/></script>
	<script th:src="@{/lib/back_end/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"/></script>

	<!-- Template Javascript -->
	<script th:src="@{/js/back_end/main.js}"></script>

	<!-- Kit Icon -->
	<script src="https://kit.fontawesome.com/8366d3754a.js" crossorigin="anonymous"></script>






	
		
</body>


</html>