<!-- Spinner Start  瀏覽器載入前的遮蓋頁面-->
	<div id="spinner"
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border position-relative text-primary"
			style="width: 6rem; height: 6rem;" role="status"></div>
		<img class="position-absolute top-50 start-50 translate-middle"
			th:src="@{/img/back_end/icon-12.png}"
			alt="Icon"/>
	</div>
	<!-- Spinner End -->




	<!-- Topbar Start 置頂列-->
	<div class="container-fluid green-bg p-0 wow fadeIn "
		data-wow-delay="0.1s">
		<div class="row gx-0 d-none d-lg-flex shadow ">


			<!-- 左側圖標 -->
			<div class="col-lg-7 px-4 text-start">
				<img th:src="@{/img/back_end/LOGO-7.png}"/>
				<span class="navbar-brand2" href="#">CACTUS</span>
				<!-- <div class="h-100 d-inline-flex align-items-center py-3 me-3"> -->
				<!-- <a class="text-body px-2" href="tel:+0123456789"><i class="fa fa-phone-alt text-white me-2"></i>+012 345 6789</a>
                    <a class="text-body px-2" href="mailto:info@example.com"><i class="fa fa-envelope-open text-gold me-2"></i>info@example.com</a> -->
				<!-- </div> -->
			</div>


			<!-- 右側文字節點 -->
			<div class="col-lg-5  text-end">

				<!-- <div class="container-fluid2">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <a class="text-white px-2" href="">加入會員</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                </div> -->
				<div class=" d-inline-flex align-items-center   height-1 border-dot">
					<!-- <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" href="">日本語 ｜</a> -->
					<a class="text-white padding-set " href="">員工姓名</a>


				</div>
				<div
					class=" d-inline-flex align-items-center  me-2 height-1 border-dot">
					<!-- <a class="text-white px-2" href="">English ｜</a>
                    <a class="text-white px-2" href="">日本語 ｜</a> -->
					<a class="text-white px-4 " href="">登出</a>


				</div>
				<!-- <div class="h-100 d-inline-flex align-items-center">
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-sm-square btn-outline-body me-0" href=""><i class="fab fa-instagram"></i></a>
                </div> -->
			</div>
		</div>
	</div>
	<!-- Topbar End -->





	<div class="display-a">


		<!-- 側邊欄 -->
		<div class="main-menu">

			<!-- <nav class="main-menu"> -->
			<ul class="list">
 
                
                <li class="border-dot2">

					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button2 collapsed" type="button"data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<i class="fa fa-user fa-lg"></i>
								&nbsp;&nbsp;&nbsp;會員管理系統
							</button>
						</h2>
						
						<div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" th:href="@{/member/memberSearch}">會員資料搜尋</a></li>
								</ul>
							</div>
						</div>
						
					</div>

				</li>
                
                
<!------------------------------------------------------------------------------------------->
                
                
                <li class="border-dot2">
                
					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								<i class="fa fa-envelope"></i> 
								&nbsp;&nbsp;&nbsp;通知消息系統
							</button>
						</h2>
						
						<div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" th:href="@{/notification/sendMessage}">寄送通知消息</a></li>
									<li class="list-set2"><a class="changecolor" th:href="@{/notification/showAllMessage}">顯示所有通知</a></li>
								</ul>
							</div>
							
						</div>
						
					</div>

				</li>
                

<!------------------------------------------------------------------------------------------->
                
                
				<li class="border-dot2">
				
					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;員工管理系統
							</button>
						</h2>
						
						<div id="collapseThree" class="accordion-collapse collapse "aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
								</ul>
							</div>
						</div>
						
					</div>

				</li>


<!------------------------------------------------------------------------------------------->


				<li class="border-dot2">

					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingFour">
							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;活動管理系統
							</button>
						</h2>
						
						<div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">活動類別管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動場次</a></li>		
									<li class="list-set2"><a class="changecolor" href="">活動圖片管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動訂單管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">活動促銷管理</a></li>	
								</ul>
							</div>
						</div>
						
					</div>

				</li>
				
				
<!------------------------------------------------------------------------------------------->


				<li class="border-dot2">

					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingFive">
							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;商城管理系統
							</button>
						</h2>
						
						<div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingFive" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
								</ul>
							</div>
						</div>
						
					</div>

				</li>


<!------------------------------------------------------------------------------------------->


				<li class="border-dot2">

					<div class="accordion-item2 ">

						<h2 class="accordion-header" id="headingSix">
							<button class="accordion-button2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
								<i class="fa-solid fa-umbrella-beach padding-set2"></i>
								&nbsp;&nbsp;&nbsp;房務管理系統
							</button>
						</h2>
						
						<div id="collapseSix" class="accordion-collapse collapse " aria-labelledby="headingSix" data-bs-parent="#accordionExample">
							<div class="accordion-body2">
								<ul class="list2">
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
									<li class="list-set2"><a class="changecolor" href="">管理</a></li>
								</ul>
							</div>
						</div>
						
					</div>
					
				</li>
				
				
			</ul>



		</div>


