<div th:replace="~{/back_end/include/include_top}"></div>

<style>

</style>
</head>
<body>

<div th:replace="~{/back_end/include/include_body}"></div>

	
		<!-- =========================================================================================== -->

<div class="unique">
		<!-- 主欄位 -->
		<h4><span>資料查詢:</span></h4>
		<div class="errorblock" th:utext="${errorMessage}">${errorMessage}</div><br>
		<div class="a">

			<ul>

				<li><h5><a th:href="@{/roomPromotion/getAllRoomPromotion}">查看</a>所有促銷. <br><br></h5></li>

		
			<h3>---房間促銷搜尋---</h3>
			<br>		
			<br>	

			<form method="post" th:action="@{/roomPromotion/findRoomPromotionById}">
						輸入促銷編號:
						<input type="text" name="roomPromotionId" th:value="${param.roomPromotionId}" >
						<input type="submit" value="送出">
			</form>
			<br>

			<h4><span>促銷管理</span></h4>
			<ul>
				<li><h5><a th:href="@{/roomPromotion/addRoomPromotion}">新增</a>房間促銷</h5></li>
			</ul>



		</div>
</div>
<div th:replace="~{/back_end/include/include_bottom}"></div>
