<div th:replace="~{/back_end/include/include_top}"></div>

<style>
    /* 在這裡添加您的樣式 */
</style>
</head>
<body>
<div th:replace="~{/back_end/include/include_body}"></div>

<div class="unique">

    <div align="center"> <h2>房間新增</h2>
        <h3><a class="navbar-brand" th:href="@{/room/searchRoom}">回查詢頁</a></h3></div>

    <div align="center">

        <form th:action="@{insertRoom}" method="post" th:object="${room}">

            <div>
                <label>房型:</label>
                <select th:field="*{roomType.roomTypeId}">
                    <option th:each="roomType : ${roomTypeListData}" th:value="${roomType.roomTypeId}" th:text="${roomType.roomTypeName}" />
                </select>
                <span th:if="${#fields.hasErrors('roomType.roomTypeId')}" th:errors="*{roomType.roomTypeId}" class="error" id="roomType.roomTypeId.errors"></span>
            </div>

            <div>
                <label>住客人數:</label>
                <input type="text" th:field="*{roomGuestAmount}" onclick="hideContent('roomGuestAmount');" /><br/>
                <span  th:if="${#fields.hasErrors('roomGuestAmount')}" th:errors="*{roomGuestAmount}" class="error" id="roomGuestAmount.errors"></span>
            </div>

            <div>
                <label>住客名單:</label>
                <input type="text" th:field="*{roomGuestName}" onclick="hideContent('roomGuestName');" /><br/>
                <span  th:if="${#fields.hasErrors('roomGuestName')}" th:errors="*{roomGuestName}" class="error" id="roomGuestName.errors"></span>
            </div>

            <div>
                <label>上下架狀態:</label>
                <select th:field="*{roomStatus}">
                    <option value="1">上架</option>
                    <option value="0">下架</option>
                </select>
            </div>

            <div>
                <label>房間狀態:</label>
                <select th:field="*{roomSaleStatus}">
                    <option value="0">未入住</option>
                    <option value="1">已入住</option>
                    <option value="2">待清潔</option>
                    <option value="3">逾期</option>
                    <option value="4">異常</option>
                </select>
            </div>

            <div>
                <label>房間價格:</label>
                <input type="text" th:field="*{roomPrice}" onclick="hideContent('roomPrice');" /><br/>
                <span  th:if="${#fields.hasErrors('roomPrice')}" th:errors="*{roomPrice}" class="error" id="roomPrice.errors"></span>
            </div>


            <div>
                <div></div>
                <div><button type="submit" id="submit"> 送出新增 </button></div>
                <div></div>
            </div>
        </form>

    </div>

</div>

<div th:replace="~{/back_end/include/include_bottom}"></div>
